.centered-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

}

.footer-icon {
  margin: 0 10px;
  font-size: 1.5rem; 
  color: black;
}

#second {
  margin-top: 7%;
  background-color: #4793AF;
  padding-top: 4rem;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .centered-links {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  .footer-icon {
    font-size: 2rem;
  }
}
